<style>
    @media(max-widht: 992px) {
        .btns-actions{
            width: 100% !important;
            justify-content: space-around;
        }
    }
    @media(max-width: 764px) {
        .btns-actions {
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
            width: 100% !important;
            gap: 1.2rem !important
        }

        .btns-actions > * {
            width: 80% !important;
        }
    }
</style>
<main class="my-5" style="flex: 1 1 0">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h1 class="p-0 m-0">Consulte os processos</h1>
                    <a href="/admin/register-process" class="btn btn-success">ADICIONAR NOVO <b>+</b></a>
                </div>
                
                <div class="card-header d-flex justify-content-between">
                    <form method="GET" class=" mb-2">
                        <div class="d-flex align-items-end gap-5">
                            <div>
                                <label for="sort">Ordem:</label>
                                <select name="sort" id="sort" class="form-select">
                                    <option value="ASC">De A -> Z</option>
                                    <option value="DESC">De Z -> A</option>
                                </select>
                            </div>
                            <div>
                                <label for="limit">Limite por página:</label>
                                <select name="limit" id="limit" class="form-select">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                            <div class="d-none">
                                <input type="text" name="page" id="page" value="1">
                            </div>
                            <input type="submit" value="Filtar" class="btn btn-primary">
                        </div>
                    </form>                  
                </div>
                <div class="card-body d-flex justify-content-center flex-row flex-wrap">
                    {{#each processes}}
                        {{!--PROCESS CARD--}}
                        <div class="my-2 px-2 py-4 border border-secondary rounded w-100">
                            <div class="w-100">
                                <p class="p-0 m-0">Nome do cliente:</p>
                                <p>{{clientName}}</p>
                                <hr>
                                <p class="p-0 m-0">Número do processo:</p>
                                <p>{{numberProcess}}</p>
                                <hr>
                                <p class="p-0 m-0">Código:</p>
                                <p>{{code}}</p>
                                <hr>
                                <p class="p-0 m-0">Comentários:</p>
                                <p>{{comments}}</p>
                            </div>
                            <div class="btns-actions d-flex flex-row gap-5">
                                <button type="button" class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target=".view{{id}}">Visualizar</button>
                                <a href="/admin/edit-process/{{id}}" class="btn btn-success w-25">Atualizar</a>
                                <button type="button" class="btn btn-danger w-25" data-bs-toggle="modal" data-bs-target=".exampleModal{{id}}">Excluir</button>
                            </div>
                            <p class="mt-3">Criado em: {{#formatDate createdAt}}{{/formatDate}}</p>
                        </div>

                        {{!--PROCESS MODAL EXCLUSION--}}
                        <div class="modal fade exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Você tem certeza?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>O processo será excluído para sempre. Você tem certeza que deseja excluí-lo?</p>
                                    <p class="mb-1">Processo: {{numberProcess}}</p>
                                    <p>Cliente: {{clientName}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <a href="/admin/delete-process/{{id}}" class="btn btn-danger">Excluir</a>
                                </div>
                                </div>
                            </div>
                        </div>

                        {{!--PROCESS MODAL VIEW--}}
                        <div class="modal fade view{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel">Visualização do processo: {{numberProcess}} </h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="relatedClient">Cliente atrelado:</label>
                                        <input type="text"class="form-control mb-3" value="{{clientName}}" disabled>

                                        <label for="process">Tipo de processo</label>
                                        <input type="text" class="form-control mb-3" value="{{process}}" disabled>

                                        <label for="numberProcess">Número do processo:</label>
                                        <input type="text" class="form-control mb-3" value="{{numberProcess}}" disabled>

                                        <label for="datailsProcess">Detalhes do processo:</label>
                                        <div class="card px-2 py-4 mb-3">
                                            <label>1. Recebido</label>
                                            {{#if received}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Sim</p>
                                                    <i class="bi bi-file-check-fill text-success"></i>
                                                </div>
                                            {{else}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Não</p>
                                                    <i class="bi bi-x-square-fill text-danger"></i>
                                                </div>
                                            {{/if}}

                                            <label>2. Registrado</label>
                                            {{#if registered}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Sim</p>
                                                    <i class="bi bi-file-check-fill text-success"></i>
                                                </div>
                                            {{else}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Não</p>
                                                    <i class="bi bi-x-square-fill text-danger"></i>
                                                </div>
                                            {{/if}}

                                            <label>3. Aguardando consultas</label>
                                            {{#if waitingQueries}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Sim</p>
                                                    <i class="bi bi-file-check-fill text-success"></i>
                                                </div>
                                            {{else}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Não</p>
                                                    <i class="bi bi-x-square-fill text-danger"></i>
                                                </div>
                                            {{/if}}

                                            <label>4. Verificando documentos</label>
                                            {{#if checkingDocs}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Sim</p>
                                                    <i class="bi bi-file-check-fill text-success"></i>
                                                </div>
                                            {{else}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Não</p>
                                                    <i class="bi bi-x-square-fill text-danger"></i>
                                                </div>
                                            {{/if}}

                                            <label>5. Análise do pedido</label>
                                            {{#if orderAnalysis}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Sim</p>
                                                    <i class="bi bi-file-check-fill text-success"></i>
                                                </div>
                                            {{else}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Não</p>
                                                    <i class="bi bi-x-square-fill text-danger"></i>
                                                </div>
                                            {{/if}}

                                            <label>6. Despacho</label>
                                            {{#if dispatch}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Sim</p>
                                                    <i class="bi bi-file-check-fill text-success"></i>
                                                </div>
                                            {{else}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Não</p>
                                                    <i class="bi bi-x-square-fill text-danger"></i>
                                                </div>
                                            {{/if}}

                                            <label>7. Finalizado</label>
                                            {{#if finished}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Sim</p>
                                                    <i class="bi bi-file-check-fill text-success"></i>
                                                </div>
                                            {{else}}
                                                <div class="d-flex gap-2">
                                                    <p class="mb-3">Não</p>
                                                    <i class="bi bi-x-square-fill text-danger"></i>
                                                </div>
                                            {{/if}}
                                        </div>

                                        <label>Comentários da fase do processo:</label>
                                        <div class="form-control mb-3">
                                            <p>{{comments}}</p>
                                        </div>

                                        <label>Pendências financeira?</label>
                                        {{#if monetaryPendency}}
                                            <div class="d-flex gap-2">
                                                <p class="mb-3">Sim</p>
                                                <i class="bi bi-file-check-fill text-success"></i>
                                            </div>
                                        {{else}}
                                                <div class="d-flex gap-2">
                                                <p class="mb-3">Não</p>
                                                <i class="bi bi-x-square-fill text-danger"></i>
                                            </div>
                                        {{/if}}
                                
                                        <label for="formFileMultiple" class="form-label">Anexos do processo</label>
                                        <div>
                                            <ol>
                                                {{#each attachments}}
                                                    <li>
                                                        <a href="/download/{{filename}}" class="mb-2">{{originalname}}</a>
                                                    </li>
                                                {{else}}
                                                    <li>
                                                        <p class="m-0 p-0">Não foi anexado nenhum arquivo</p>
                                                    </li>
                                                {{/each}}
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                    {{/each}}
                
                    <div class="d-flex flex-column justify-content-center my-2">
                        <p>Total de processos registrados: {{totalDocuments}}</p>
                        <div class="d-flex flex-row justify-content-center gap-3">
                            {{#pagination page totalPages limit sort}}{{/pagination}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>