<style>
    .card-body {
        height: 80vh !important;
    }
</style>
<main class="my-5">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h1 class="p-0 m-0">Consulte os processos</h1>
                    <a href="/admin/register-process" class="btn btn-success">ADICIONAR NOVO <b>+</b></a>
                </div>
                <div class="card-body overflow-auto d-flex justify-content-center flex-row flex-wrap">
                    {{#each processes}}
                        <div class="my-2 px-2 py-4 border border-secondary rounded w-100">
                            <div class="w-100">
                                <p class="p-0 m-0">Número do processo:</p>
                                <p>{{numberProcess}}</p>
                                <hr>
                                <p class="p-0 m-0">Nome do cliente:</p>
                                <p>{{relatedClient.name}}</p>
                                <hr>
                                <p class="p-0 m-0">Código:</p>
                                <p>{{code}}</p>
                            </div>
                            <div class="d-flex flex-row gap-5 w-50">
                                <a href="/admin/edit-process/{{_id}}" class="btn btn-success w-25">Atualizar</a>
                                <a href="/admin/delete-process/{{_id}}" class="btn btn-danger w-25">Excluir</a>
                            </div>
                        </div>
                    {{else}}
                        <h3> Não há registro de processos</h3>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</main>