<main class="my-5" style="flex: 1 1 0">
    <section>
        <div class="container">
            {{#each errors}}
                <div class="alert alert-danger">{{text}}</div>
                {{else}}
            {{/each}}
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h1 class="m-0 p-0">Atualizar de processo</h1>
                    <a href="/admin/register-process" class="btn btn-success">ADICIONAR NOVO <b>+</b></a>
                </div>
                <div class="card-body">
                    
                        <form action="/admin/editing-process" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col">
                                    <input type="hidden" name="code" id="code" class="form-control mb-4" value="{{process.code}}">
                                    <input type="hidden" name="id" id="id" class="form-control mb-4" value="{{process.id}}">

                                    <label for="relatedClient">Cliente atrelado:</label>
                                    <select name="relatedClient" id="relatedClient" class="form-select">
                                        <option value="{{process.relatedClient.id}}">{{process.relatedClient.name}}</option>
                                    </select>
                                    <span class="d-block mb-4 small" style="color: #FF0000">Valor não editável</span>
                                    
                                    <label for="process">Tipo de processo</label>
                                    <select type="text" name="process" id="process" class="form-select">
                                        <option value="{{process.process}}">{{process.process}}</option>
                                    </select> 
                                    <span class="d-block mb-4 small" style="color: #FF0000">Valor não editável</span>

                                    
                                    <label for="numberProcess">Número do processo:</label>
                                    <input type="text" name="numberProcess" id="numberProcess" class="form-control mb-4" value="{{process.numberProcess}}">

                                    <label for="datailsProcess">Detalhes do processo:</label>
                    
                                    <div class="card p-4 mb-4">
                                        <label for="">1. Consulta jurídica</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="received" id="received1" value="secondary" checked>
                                            <label class="form-check-label" for="received1">Não iniciado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="received" id="received2" value="warning">
                                            <label class="form-check-label" for="received2">Em andamento</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="received" id="received3" value="success">
                                            <label class="form-check-label" for="received3">Concluído</label>
                                        </div>

                                        <label class="mt-4">2. Aguarda documentos</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="registered" id="registered1" value="secondary" checked>
                                            <label class="form-check-label" for="registered1">Não iniciado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="registered" id="registered2" value="warning">
                                            <label class="form-check-label" for="registered2">Em andamento</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="registered" id="registered3" value="success">
                                            <label class="form-check-label" for="registered3">Concluído</label>
                                        </div>

                                        <label class="mt-4">3. Documentos recebidos</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="waitingQueries" id="waitingQueries1" value="secondary" checked>
                                            <label class="form-check-label" for="waitingQueries1">Não iniciado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="waitingQueries" id="waitingQueries2" value="warning">
                                            <label class="form-check-label" for="waitingQueries2">Em andamento</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="waitingQueries" id="waitingQueries3" value="success">
                                            <label class="form-check-label" for="waitingQueries3">Concluído</label>
                                        </div>

                                        <label class="mt-4">4. Pedido realizado</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="checkingDocs" id="checkingDocs1" value="secondary" checked>
                                            <label class="form-check-label" for="checkingDocs1">Não iniciado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="checkingDocs" id="checkingDocs2" value="warning">
                                            <label class="form-check-label" for="checkingDocs2">Em andamento</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="checkingDocs" id="checkingDocs3" value="success">
                                            <label class="form-check-label" for="checkingDocs3">Concluído</label>
                                        </div>

                                        <label class="mt-4">5. Aguarda análise</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="orderAnalysis" id="orderAnalysis1" value="secondary" checked>
                                            <label class="form-check-label" for="orderAnalysis1">Não iniciado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="orderAnalysis" id="orderAnalysis2" value="warning">
                                            <label class="form-check-label" for="orderAnalysis2">Em andamento</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="orderAnalysis" id="orderAnalysis3" value="success">
                                            <label class="form-check-label" for="orderAnalysis3">Concluído</label>
                                        </div>

                                        <label class="mt-4">6. Pedido concluido</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="dispatch" id="dispatch1" value="secondary" checked>
                                            <label class="form-check-label" for="dispatch1">Não iniciado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="dispatch" id="dispatch2" value="warning">
                                            <label class="form-check-label" for="dispatch2">Em andamento</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="dispatch" id="dispatch3" value="success">
                                            <label class="form-check-label" for="dispatch3">Concluído</label>
                                        </div>

                                        <label class="mt-4">7. Exigência</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="finished" id="finished1" value="secondary" checked>
                                            <label class="form-check-label" for="finished1">Não iniciado</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="finished" id="finished2" value="warning">
                                            <label class="form-check-label" for="finished2">Em andamento</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="finished" id="finished3" value="success">
                                            <label class="form-check-label" for="finished3">Concluído</label>
                                        </div>
                                        {{#if process.monetaryPendency}}
                                            <div class="form-check form-switch mt-3">
                                                <input type="checkbox" class="form-check-input d-flex mt-3" role="switch" id="monetaryPendency" name="monetaryPendency" checked>
                                                <label class="form-check-label" for="monetaryPendency">Pendências financeira?</label>
                                            </div>
                                        {{else}}
                                            <div class="form-check form-switch mb-3">
                                                <input type="checkbox" class="form-check-input d-flex mt-3" role="switch" id="monetaryPendency" name="monetaryPendency">
                                                <label class="form-check-label" for="monetaryPendency">Pendências financeira?</label>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="col"></div>   
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="comments">Comentários da fase do processo:</label>
                                    <textarea name="comments" id="comments" cols="30" rows="10" class="form-control mb-4">{{process.comments}}</textarea>
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="row">
                                <div class="col">
                                     <div class="mb-4">
                                        <label for="formFileMultiple" class="form-label">Anexos do processo</label>
                                        <input type="file" class="form-control" id="formFileMultiple" name="attachments" multiple>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>

                            <div class="form-check form-switch mb-4">
                                <input class="form-check-input d-flex" type="checkbox" role="switch" id="sendNotification" name="sendNotification">
                                <label class="form-check-label" for="sendNotification">Enviar notificação para o cliente?</label>
                            </div>

                            <input type="submit" value="Atualizar" class="btn btn-success w-25">
                        </form>

                        <a href="/admin/consult-processes" class="btn btn-danger w-25 mt-3">Cancelar edição</a>
                    
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    window.addEventListener('load', () => {
        switch ('{{process.received}}') {
            case 'secondary':
                document.getElementById('received1').checked = true
                break
            case 'warning':
                document.getElementById('received2').checked = true
                break
            case 'success':
                document.getElementById('received3').checked = true
                break
        }

        switch ('{{process.registered}}') {
            case 'secondary':
                document.getElementById('registered1').checked = true;
                break;
            case 'warning':
                document.getElementById('registered2').checked = true;
                break;
            case 'success':
                document.getElementById('registered3').checked = true;
                break;
        }

        switch ('{{process.waitingQueries}}') {
            case 'secondary':
                document.getElementById('waitingQueries1').checked = true;
                break;
            case 'warning':
                document.getElementById('waitingQueries2').checked = true;
                break;
            case 'success':
                document.getElementById('waitingQueries3').checked = true;
                break;
        }

        switch ('{{process.checkingDocs}}') {
            case 'secondary':
                document.getElementById('checkingDocs1').checked = true;
                break;
            case 'warning':
                document.getElementById('checkingDocs2').checked = true;
                break;
            case 'success':
                document.getElementById('checkingDocs3').checked = true;
                break;
        }

        switch ('{{process.orderAnalysis}}') {
            case 'secondary':
                document.getElementById('orderAnalysis1').checked = true;
                break;
            case 'warning':
                document.getElementById('orderAnalysis2').checked = true;
                break;
            case 'success':
                document.getElementById('orderAnalysis3').checked = true;
                break;
        }

        switch ('{{process.dispatch}}') {
            case 'secondary':
                document.getElementById('dispatch1').checked = true;
                break;
            case 'warning':
                document.getElementById('dispatch2').checked = true;
                break;
            case 'success':
                document.getElementById('dispatch3').checked = true;
                break;
        }

        switch ('{{process.finished}}') {
            case 'secondary':
                document.getElementById('finished1').checked = true;
                break;
            case 'warning':
                document.getElementById('finished2').checked = true;
                break;
            case 'success':
                document.getElementById('finished3').checked = true;
                break;
        }

        
    })
</script>