<style>
    .red {
        color: #F00;
    }
</style>
<main class="my-5">
    <section>
        <div class="container">
            {{#each errors}}
                <div class="alert alert-danger">{{text}}</div>
                {{else}}
            {{/each}}
            <div class="card">
                <div class="card-header">
                    <h1>Registro de processo</h1>
                </div>
                <div class="card-body">
                    <form action="/admin/registering-process" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <div class="col">
                                <label for="relatedClient">Cliente atrelado:</label>
                                <select name="relatedClient" id="relatedClient" class="form-select mb-4">
                                    <option value="0">Selecione um cliente</option>
                                    {{#each clients}}
                                        <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                
                                <label for="process">Tipo de processo</label>
                                <select name="process" id="process" class="form-select mb-4">
                                    <option value="0">Escolha um tipo</option>
                                    <option value="001 - PEDIDO DE NACIONALIDADE 1">001 - PEDIDO DE NACIONALIDADE 1</option>
                                    <option value="002 - PEDIDO DE NACIONALIDADE 2">002 - PEDIDO DE NACIONALIDADE 2</option>
                                    <option value="003 - PEDIDO DE NACIONALIDADE 3">003 - PEDIDO DE NACIONALIDADE 3</option>
                                    <option value="004 - PEDIDO DE NACIONALIDADE 6">004 - PEDIDO DE NACIONALIDADE 6</option>
                                    <option value="005 - PEDIDO DE NACIONALIDADE TL">005 - PEDIDO DE NACIONALIDADE TL</option>
                                    <option value="006 - TRANSCRIÇÃO DE CASAMENTO">006 - TRANSCRIÇÃO DE CASAMENTO</option>
                                    <option value="007 - AÇÃO DE REVISÃO E CONFIRMAÇÃO DE SENTENÇA">007 - AÇÃO DE REVISÃO E CONFIRMAÇÃO DE SENTENÇA</option>
                                    <option value="008 - PEDIDO DE VISTO">008 - PEDIDO DE VISTO</option>
                                    <option value="009 - MANIFESTAÇÃO DE INTERESSE">009 - MANIFESTAÇÃO DE INTERESSE</option>
                                    <option value="010 - REGULARIZAÇÃO (SEF)">010 - REGULARIZAÇÃO (SEF)</option>
                                    <option value="011 - OUTROS">011 - OUTROS</option>
                                </select>

                                <label for="numberProcess">Número do processo:</label>
                                <input type="text" name="numberProcess" id="numberProcess" value="{{numberProcess}}" class="form-control mb-4">

                                <label for="datailsProcess">Detalhes do processo:</label>
                
                                <div class="card p-4 mb-4">
                                    <label for="">1. Recebido</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="received" id="received1" value="1">
                                        <label class="form-check-label" for="received1">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="received" id="received2" value="0" checked>
                                        <label class="form-check-label mb-4" for="received2">Não</label>
                                    </div>

                                    <label for="">2. Registrado</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="registered" id="registered1" value="1">
                                        <label class="form-check-label" for="registered1">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="registered" id="registered2" value="0" checked>
                                        <label class="form-check-label mb-4" for="registered2">Não</label>
                                    </div>

                                    <label for="">3. Aguardando consultas</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="waitingQueries" id="waitingQueries1" value="1">
                                        <label class="form-check-label" for="waitingQueries1">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="waitingQueries" id="waitingQueries2" value="0" checked>
                                        <label class="form-check-label mb-4" for="waitingQueries2">Não</label>
                                    </div>

                                    <label for="">4. Verificando documentos</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="checkingDocs" id="checkingDocs1" value="1">
                                        <label class="form-check-label" for="checkingDocs1">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="checkingDocs" id="checkingDocs2" value="0" checked>
                                        <label class="form-check-label mb-4" for="checkingDocs2">Não</label>
                                    </div>

                                    <label for="">5. Análise do pedido</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderAnalysis" id="orderAnalysis1" value="1">
                                        <label class="form-check-label" for="orderAnalysis1">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderAnalysis" id="orderAnalysis2" value="0" checked>
                                        <label class="form-check-label mb-4" for="orderAnalysis2">Não</label>
                                    </div>

                                    <label for="">6. Despacho</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="dispatch" id="dispatch1" value="1">
                                        <label class="form-check-label" for="dispatch1">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="dispatch" id="dispatch2" value="0" checked>
                                        <label class="form-check-label mb-4" for="dispatch2">Não</label>
                                    </div>

                                    <label for="">7. Finalizado</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="finished" id="finished1" value="1">
                                        <label class="form-check-label" for="finished1">Sim</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="finished" id="finished2" value="0" checked>
                                        <label class="form-check-label" for="finished2">Não</label>
                                    </div>
                                    <div class="form-check form-switch mt-3">
                                        <input type="checkbox" class="form-check-input d-flex" role="switch" id="monetaryPendency" name="monetaryPendency">
                                        <label class="form-check-label" for="monetaryPendency">Pendências financeira?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>   
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="comments">Comentários da fase do processo:</label>
                                <textarea name="comments" id="comments" cols="30" rows="10" class="form-control mb-4">{{comments}}</textarea>
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-4">
                                    <label for="formFileMultiple" class="form-label">Anexos do processo</label>
                                    <input type="file" class="form-control" id="formFileMultiple" name="attachments" multiple>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>

                        

                        <div class="form-check form-switch mb-4">
                            <input type="checkbox" class="form-check-input d-flex" role="switch" id="sendNotification" name="sendNotification">
                            <label class="form-check-label" for="sendNotification">Enviar notificação para o cliente?</label>
                        </div>

                        <input type="submit" value="Cadastrar" class="btn btn-primary w-25">
                    </form>

                    <a href="/admin/coonsult-clients" class="btn btn-danger w-25 mt-3">Cancelar cadastro</a>
                </div>
            </div>
        </div>
    </section>
</main>