<main class="my-5">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>E-mails em massa</h1>
                </div>
                <div class="card-body">
                    <h4>Selecione os processos que deverão ser alertados</h4>
                    <form action="" method="post">
                        <label for="process">Tipo de processo</label>
                        <select name="process" id="process" class="form-select w-50 mb-4">
                            <option value="0">Escolha um tipo</option>
                            <option value="001 - PEDIDO DE NACIONALIDADE 1">001 - PEDIDO DE NACIONALIDADE 1</option>
                            <option value="002 - PEDIDO DE NACIONALIDADE 2">002 - PEDIDO DE NACIONALIDADE 2</option>
                            <option value="003 - PEDIDO DE NACIONALIDADE 3">003 - PEDIDO DE NACIONALIDADE 3</option>
                            <option value="004 - PEDIDO DE NACIONALIDADE 6">004 - PEDIDO DE NACIONALIDADE 6</option>
                            <option value="005 - PEDIDO DE NACIONALIDADE TL">005 - PEDIDO DE NACIONALIDADE TL</option>
                            <option value="006 - TRANSCRIÇÃO DE CASAMENTO">006 - TRANSCRIÇÃO DE CASAMENTO</option>
                            <option value="007 - AÇÃO DE REVISÃO E CONFIRMAÇÃO DE SENTENÇA">007 - AÇÃO DE REVISÃO E CONFIRMAÇÃO DE SENTENÇA</option>
                            <option value="008 - PEDIDO DE VISTO">008 - PEDIDO DE VISTO</option>
                            <option value="009 - MANIFESTAÇÃO DE INTERESSE">009 - MANIFESTAÇÃO DE INTERESSE</option>
                            <option value="010 - REGULARIZAÇÃO (SEF)">010 - REGULARIZAÇÃO (SEF)</option>
                            <option value="011 - OUTROS">011 - OUTROS</option>
                        </select>
                        <input type="submit" value="Enviar para grupos" class="btn btn-success">
                    </form>
                    <div class="d-flex flex-row justiy-content-center align-items-center gap-3">
                        <hr class="my-5 w-25">
                        <p>OU</p>
                        <hr class="my-5 w-25">
                    </div>
                    <h4>Selecione o processo</h4>
                    <form action="" method="post">
                        <table class="table table-hover border border-rounded">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th class="text-center">N° Processo</th>
                                    <th>E-mail</th>
                                    <th class="text-center">Pendência monetária</th>
                                    <th class="text-center">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each processes}}
                                    <tr>
                                        <td>{{clientName}}</td>
                                        <td  class="text-center">{{numberProcess}}</td>
                                        <td>{{clientName}}</td>
                                        {{#if monetaryPendency}}
                                            <td class="red text-center">Sim</td>
                                        {{else}}
                                            <td class="text-center">Não</td>
                                        {{/if}}
                                        <td class="text-center"><input type="checkbox" name="selected" id="selected"></td>
                                    </tr>
                                {{else}}

                                {{/each}}
                            </tbody>
                        </table>
                        <label for="message">Mensagem para o corpo do e-mail</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control mb-4"></textarea>
                        <input type="submit" value="Enviar para selecionados" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>