<main class="my-5">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1 class="p-0 m-0">Seja bem-vindo</h1>
                </div>
                <div class="card-body">
                    <form action="/consulting-process" method="POST">
                        <h2>Qual é o estado do meu processo?</h2>
                        <p>Indique o seu código de acesso.</p>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="codeInsert" name="codeInsert" placeholder="Código" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-primary" type="submit" id="button-addon2">Buscar<i class="ms-2 bi bi-search"></i></button>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                    <hr>
                    <section>
                        {{#search_result}}
                            <p>Nome: {{relatedClient.name}}</p>
                            <p>N° processo: {{numberProcess}}</p>
                            <section class="progress-bar my-5">
                                <ol class="list-group list-group-horizontal list-group-numbered d-flex justify-content-between align-items-center">
                                    <li>
                                        {{#if received}}
                                            <div class="btn btn-success">Consulta jurídica</div>
                                        {{else}}
                                            <div class="btn btn-secondary">Consulta jurídica</div>
                                        {{/if}}
                                    </li>
                                    <li>
                                        {{#if registered}}
                                            <div class="btn btn-success">Aguarda documentos</div>
                                        {{else}}
                                            <div class="btn btn-secondary">Aguarda documentos</div>
                                        {{/if}}
                                    </li>
                                    <li>
                                        {{#if waitingQueries}}
                                            <div class="btn btn-success">Documentos Recebidos</div>
                                        {{else}}
                                            <div class="btn btn-secondary">Documentos Recebidos</div>
                                        {{/if}}
                                    </li>
                                    <li>
                                        {{#if checkingDocs}}
                                            <div class="btn btn-success">Pedido realizado</div>
                                        {{else}}
                                            <div class="btn btn-secondary">Pedido realizado</div>
                                        {{/if}}
                                    </li>
                                    <li>
                                        {{#if orderAnalysis}}
                                            <div class="btn btn-success">Aguarda análise</div>
                                        {{else}}
                                            <div class="btn btn-secondary">Aguarda análise</div>
                                        {{/if}}
                                    </li>
                                    <li>
                                        {{#if dispatch}}
                                            <div class="btn btn-success">Pedido concluído</div>
                                        {{else}}
                                            <div class="btn btn-secondary">Pedido concluído</div>
                                        {{/if}}
                                    </li>
                                    <li>
                                        {{#if finished}}
                                            <div class="btn btn-success">Exigência</div>
                                        {{else}}
                                            <div class="btn btn-secondary">Exigência</div>
                                        {{/if}}
                                    </li>
                                </ol>
                            </section>

                            <section class="card my-4 px-3 py-4">
                                <h3>Observações:</h3>
                                <p class="m-0">{{comments}}</p>
                                <section>
                                    {{#if monetaryPendency}}
                                        <div class="btn btn-danger mt-3">Possui pendência monetária<i class="bi bi-cash ms-2"></i></div>
                                    {{else}}
                                        <div class="btn btn-success mt-3">Não possui pendência monetária<i class="bi bi-cash ms-2"></i></div>
                                    {{/if}}
                                </section>
                            </section>

                            <section class="card my-4 px-3 py-4">
                                <h3>Baixe seus anexos</h3>
                                {{#each attachments}}
                                    <a href="/download/{{filename}}" class="mb-2">{{originalname}}</a>
                                {{else}}
                                    <p class="m-0 p-0">Não foi anexado nenhum arquivo</p>
                                {{/each}}
                            </section>

                            
                        {{else}}
                            <h4>Não há nenhum processo</h4>
                        {{/search_result}}
                    </section>

                    <section class="ps-2">
                        <h3>Entre em contato:</h3>
                        <a class="btn btn-outline-success" href="tel:+351937126034"><i class="bi bi-whatsapp"></i> +351937126034</a>
                    </section>

                    <section class="mt-4">
                        <h3 class="ps-2">Descrição das etapas do processo</h3>
                        <ul class="m-0 ps-2" style="list-style: none;">
                            <li class="mb-2">1) Aguarda realização da consulta jurídica </li>
                            <li class="mb-2">2) Realizada consulta, aguarda entrega do documentos solicitados.</li>
                            <li class="mb-2">3) Recebidos documentos no escritório, processo em preparação para entrega no Serviço responsável </li>
                            <li class="mb-2">4) Pedido entregue ao Serviço responsável.</li>
                            <li class="mb-2">5) Aguarda análise do pedido por parte da Serviço responsável.</li>
                            <li class="mb-2">6) O pedido foi concluído e aprovado.</li>
                            <li class="mb-2">7) O Serviço responsável exigiu a apresentação de novos documentos ou esclarecimentos</li></li>
                        </ul>
                    </section>
                </div>
            </div>
            
        </div>
    </section>
    
</main>