{{!-- RESPONSIVE --}}
<style>
    @media(max-width: 764px){
        .card-body .row {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .card-body .row .col {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .card-body .process-progress {
            display: flex;
            padding: 0 !important;
            flex-direction: column !important;
            gap: 1.2rem;
        }

        .card-body .process-progress .connect {
            top: 0;
            left: 7.5%;
            transform: translateY(0);
            transform: translateX(-92.5%);
            height: 90%;
            width: 2px;
            margin: 5% 0; 
        }

        .card-body .process-progress .step {
            width: 100%;
        }
        
        .card-body .process-progress .step .circle {
            flex-direction: row;
        }

        .card-body .process-progress .step .circle .ballon {
            margin-right: 25px;
        }

        .card-body .process-progress .step .circle .description {
            height: auto;
            flex-direction: row;
            gap: 0.25rem;
            align-items: start;
        }
    }

    .process-progress {
        display: flex;
        flex: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .process-progress .connect {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        position: absolute;
        top: 25%;
        left: 0;
        transform: translateY(-75%);
        height: 2px;
        width: 90%;
        margin: 0 5%;
    }

    .circle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle .ballon {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle .btn {
        cursor: default !important;
    }

    .circle .ballon .ballon-text {
        font-weight: bold;
        position: absolute;
        z-index: 10;
    }

    .circle .ballon .ballon-text p {
        margin: 0;
    }

    .circle .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;
    }

    .circle .description p {
        font-weight: bold;
        margin: 0;
    }
</style>


<main class="my-5" style="flex: 1 1 0">
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center p-0 m-0">Painel do cliente</h1>
                </div>
                <div class="card-body">
                    <form action="/consulting-process" method="POST">
                        <h2>Acompanhe o seu processo</h2>
                        <p>Indique o seu código de acesso.</p>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="codeInsert" name="codeInsert" placeholder="Código" aria-label="Código" aria-describedby="button-addon2">
                                    <button class="btn btn-primary" type="submit" id="button-addon2">Buscar<i class="ms-2 bi bi-search"></i></button>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                    <hr>
                    <section>
                        {{#search_result}}
                            <h3>Nome: <span class="text-capitalize">{{relatedClient.name}}</span></h3>
                            <h3>Processo N°: {{numberProcess}}</h3>
                            <h3>Início do processo: {{#formatDateWithoutHour createdAt}}{{/formatDateWithoutHour}}</h3>
                            <div class="process-progress my-5 px-3">
                                <div class="connect"></div>

                                <div class="step">
                                    <div class="circle">
                                        <div class="ballon btn btn-{{received}}" title="Aguarda realização da consulta jurídica">
                                            <div class="ballon-text">
                                                <p>1</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p>Consulta</p>
                                            <p>jurídica</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="step">
                                    <div class="circle">
                                        <div class="ballon btn btn-{{registered}}" title="Realizada consulta, aguarda entrega do documentos solicitados.">
                                            <div class="ballon-text">
                                                <p>2</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p>Aguarda</p>
                                            <p>documentos</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="step">
                                    <div class="circle">
                                        <div class="ballon btn btn-{{waitingQueries}}" title="Recebidos documentos no escritório, processo em preparação para entrega no Serviço responsável">
                                            <div class="ballon-text">
                                                <p>3</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p>Documentos</p>
                                            <p>recebidos</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="step">
                                    <div class="circle">
                                        <div class="ballon btn btn-{{checkingDocs}}" title="Pedido entregue ao Serviço responsável.">
                                            <div class="ballon-text">
                                                <p>4</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p>Pedido</p>
                                            <p>realizado</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="step">
                                    <div class="circle">
                                        <div class="ballon btn btn-{{orderAnalysis}}" title="Aguarda análise do pedido por parte da Serviço responsável.">
                                            <div class="ballon-text">
                                                <p>5</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p>Aguarda</p>
                                            <p>análise</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="step">
                                    <div class="circle">
                                        <div class="ballon btn btn-{{dispatch}}" title="O pedido foi concluído e aprovado.">
                                            <div class="ballon-text">
                                                <p>6</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p>Pedido</p>
                                            <p>concluído</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="step">
                                    <div class="circle">
                                        <div class="ballon btn btn-{{finished}}" title="O Serviço Responsável exigiu a apresentação de novos documentos ou esclarecimentos">
                                            <div class="ballon-text">
                                                <p>7</p>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p>Exigência</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section class="card my-4 px-3 py-4">
                                <h3>Observações:</h3>
                                <p class="m-0">{{comments}}</p>
                            </section>

                            <section class="card my-4 px-3 py-4">
                                <h3>Baixe seus anexos</h3>
                                {{#each attachments}}
                                    <a href="/download/{{filename}}" class="mb-2">{{originalname}}</a>
                                {{else}}
                                    <p class="m-0 p-0">Não foi anexado nenhum arquivo</p>
                                {{/each}}
                            </section>

                            <section class="mt-4">
                                <h3 class="ps-2">Descrição das etapas do processo</h3>
                                <ul class="m-0 ps-2" style="list-style: none;">
                                    <li class="mb-2">1) Aguarda realização da consulta jurídica </li>
                                    <li class="mb-2">2) Realizada consulta, aguarda entrega do documentos solicitados.</li>
                                    <li class="mb-2">3) Recebidos documentos no escritório, processo em preparação para entrega no Serviço responsável </li>
                                    <li class="mb-2">4) Pedido entregue ao Serviço responsável.</li>
                                    <li class="mb-2">5) Aguarda análise do pedido por parte da Serviço responsável.</li>
                                    <li class="mb-2">6) O pedido foi concluído e aprovado.</li>
                                    <li class="mb-2">7) O Serviço Responsável exigiu a apresentação de novos documentos ou esclarecimentos</li></li>
                                </ul>
                            </section>

                            <section>
                                {{#if monetaryPendency}}
                                    <div class="btn btn-danger mt-3" style="cursor: default"><i class="bi bi-cash me-2"></i>Possui pendência financeira</div>
                                {{else}}
                                {{/if}}
                            </section>
                        {{else}}
                            <h4 class="mb-5 text-center" style="color: #F00">Não há nenhum processo com esse código</h4>
                        {{/search_result}}
                    </section>

                    <section class="mt-4 ps-2">
                        <h3>Entre em contato:</h3>
                        <a class="btn btn-primary text-uppercase" href="mailto:info@advogadoszr.com"><i class="bi bi-envelope-fill me-1"></i>info@advogadoszr.com</a>
                    </section>
                </div>
            </div>
            
        </div>
    </section>
    
</main>